[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
[submodule "lib/yaota8266"]
	path = lib/yaota8266
	url = https://github.com/schinckel/yaota8266.git
[submodule "lib/micropython-lib"]
	path = lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
