[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"HAP-python[QRCode]" = "*"
"paho-mqtt" = "*"

[dev-packages]
pytest = "*"
pytest-coverage = "*"
pytest-mock = "*"
flake8 = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.7"
