[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
HAP-python = "*"
"HAP-python[QRCode]" = "*"
paho-mqtt = "*"

[dev-packages]
jupyter-micropython-remote = "*"

[requires]
python_version = "3.7"
